
.collections-container {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.collections-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  }
  
  .collection-item {
    margin: 0 30px;
  }
  
  .collection-image {
    width: 100px; /* Set the width of the images */
    height: auto; /* Maintain aspect ratio */
  }
  